:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body,
#__nuxt {
	min-height: 100vh;
	min-height: 100svh;
}

.min-h-screen {
	min-height: 100svh;
}

.ui-breadcrumbs {
	@apply p-5;
}

.ui-breadcrumbs + .ui-page-header,
.ui-breadcrumbs + .ui-page-content {
	@apply -mt-5;
}

.ui-page-header + .ui-page-content {
	padding-top: 0;
}
